
<!-- Start Contact Address -->
<div class="htc__contact__address add-res bg__cat--1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="htc__contact__wrap clearfix">
                    <!-- Start Single Address -->
                    <div class="ht__address__inner">
                        <div class="ht__address__icon map-pin">
                            <i class="zmdi zmdi-pin"></i>
                        </div>
                        <div class="ht__address__details">
                            <p>Nyerere Road, Uhuru Street <br>Geita, P.O. Box 318, Tanzania</p>
                        </div>
                    </div>
                    <!-- End Single Address -->
                    <!-- Start Single Address -->
                    <div class="ht__address__inner">
                        <div class="ht__address__icon glob">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </div>
                        <div class="ht__address__details">
                            <p><a href="#">maskadcoltd@gmail.com</a></p>
                            <p><a href="https://www.maskadcoltd.com/">www.maskadcoltd.com</a></p>
                        </div>
                    </div>
                    <!-- End Single Address -->
                    <!-- Start Single Address -->
                    <div class="ht__address__inner">
                        <div class="ht__address__icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="ht__address__details">
                            <p><a href="#">(255) 752 985 776</a></p>
                            <p><a href="#">(255) 716 826 500</a></p>
                        </div>
                    </div>
                    <!-- End Single Address -->
                </div>
            </div>
        </div>
    </div>
</div>