{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- End Header Style -->
        <!-- Start Slider Area -->
        <div class="slider__container">
            <div class="slider__activation__wrap owl-carousel owl-theme">
                <!-- Start Single Slide -->
                <div class="slide slider__fixed--height slide__align--center" style="background: rgba(0, 0, 0, 0) url('{% static 'images/slider/bg/1.jpg' %}') no-repeat scroll 0 0 / cover;" data--black__overlay="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="slider__inner">
                                    <h4>SINCE 2022</h4>
                                    <h1>WE BUILD THE TRUST</h1>
                                    <p>We work closely with our clients to accurately interpret their dreams/visions in drawings and bring them to the desired reality through construction solutions to meet their needs.</p>
                                    <div class="slider__btn">
                                        <a class="htc__btn" href="/contacts">CONTACT US</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="htc__slider__fornt__img">
                        <img src="{% static 'images/slider/fornt-img/1.png' %}" alt="slider images">
                    </div>
                </div>
                <!-- End Single Slide -->
                <!-- Start Single Slide -->
                <div class="slide slider__fixed--height slide__align--center" style="background: rgba(0, 0, 0, 0) url('{% static 'images/slider/bg/2.jpg' %}') no-repeat scroll 0 0 / cover;" data--black__overlay="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="slider__inner">
                                    <h4>SINCE 2022</h4>
                                    <h1>WE BUILD THE TRUST</h1>
                                    <p>We work closely with our clients to accurately interpret their dreams/visions in drawings and bring them to the desired reality through construction solutions to meet their needs.</p>
                                    <div class="slider__btn">
                                        <a class="htc__btn" href="/contacts">CONTACT US</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="htc__slider__fornt__img">
                        <img src="{% static 'images/slider/fornt-img/1.png' %}" alt="slider images">
                    </div>
                </div>
                <!-- End Single Slide -->
            </div>
        </div>
        <!-- Start Slider Area -->
        <!-- Start Offer Area -->
        <section class="htc__offer__area htc__offer--2 pb--120 bg__gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="offer">
                            <div class="offer__icon">
                                <img src="{% static 'images/others/icon-2/1.png' %}" alt="icon images">
                            </div>
                            <div class="offer__details">
                                <h2><a href="#">TOP RATED</a></h2>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 xmt-40">
                        <div class="offer separator">
                            <div class="offer__icon">
                                <img src="{% static 'images/others/icon-2/2.png' %}" alt="icon images">
                            </div>
                            <div class="offer__details">
                                <h2><a href="#">BEST QUALITY</a></h2>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 hidden-sm col-xs-12 xmt-40">
                        <div class="offer separator">
                            <div class="offer__icon">
                                <img src="{% static 'images/others/icon-2/3.png' %}" alt="icon images">
                            </div>
                            <div class="offer__details">
                                <h2><a href="#">LOW COST</a></h2>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h1__offer__image">
                <img src="{% static 'images/others/3.png' %}" alt="">
            </div>
        </section>
        <!-- End Offer Area -->
        <!-- Start About Area -->
        <section class="htc__about__area about--2 text__pos ptb--150 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title__line">ABOUT <span class="text--theme">MASKAD</span></h2>
                            <p style="text-align: justify;">
                                Is a Tanzanian and locally owned company registered by Business registration and Licensing Agency and Constructors Registration Board (CRB) as a Company Dealing with Civil Engineering and Information/Communication Technology with registration numbers C6/2556/11/2022 (CIVIL WORKS CONTRACTOR), SPC2/260/11/2022 (SPECIALIST CIVIL WORKS CONTRACTOR) and B6/1626/11/2022 (BUILDING WORKS CONTRACTOR).
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="row mt--70">
                    <div class="col-md-4 col-lg-3 col-lg-offset-1 col-sm-6 col-xs-12">
                        <div class="about foo">
                            <div class="about__inner">
                                <h2><a href="about.html">OUR STORY</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                                <div class="about__btn">
                                    <a href="about.html">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="{% static 'images/others/icon/1.png' %}" alt="icon images">
                                </div>
                            </div>
                            <div class="about__inner about__hober__info">
                                <h2><a href="about.html">OUR STORY</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                                <div class="about__btn">
                                    <a href="about.html">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="{% static 'images/others/icon/1.png' %}" alt="icon images">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
                        <div class="about foo">
                            <div class="about__inner">
                                <h2><a href="about.html">ABOUT US</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                                <div class="about__btn">
                                    <a href="about.html">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="{% static 'images/others/icon/2.png' %}" alt="icon images">
                                </div>
                            </div>
                            <div class="about__inner about__hober__info active">
                                <h2><a href="about.html">ABOUT US</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                                <div class="about__btn">
                                    <a href="about.html">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="{% static 'images/others/icon/2.png' %}" alt="icon images">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 hidden-sm col-xs-12">
                        <div class="about foo">
                            <div class="about__inner">
                                <h2><a href="about.html">OUR CERTIFICATE</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                                <div class="about__btn">
                                    <a href="about.html">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="{% static 'images/others/icon/3.png' %}" alt="icon images">
                                </div>
                            </div>
                            <div class="about__inner about__hober__info">
                                <h2><a href="about.html">OUR CERTIFICATE</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                                <div class="about__btn">
                                    <a href="about.html">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="{% static 'images/others/icon/3.png' %}" alt="icon images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="text__shape">
                <h2>MASKAD</h2>
            </div>
        </section>
        <!-- End About Area -->
        <!-- start About Area -->
        <section class="htc__service__area service--2 bg__gray">
            <div class="container-fluid">
                <div class="row">
                    <div class="service__section__wrap clearfix">
                        <!-- Start Single Service -->
                        <div class="col-md-5 col-lg-4 col-sm-12 col-xs-12">
                            <div class="service__thumb">
                                <img src="/media/architecture-g92ab8ed89_1280.jpg" alt="about image">
                            </div>
                        </div>
                        <!-- End Single Service -->
                        <div class="col-md-7 col-lg-8 col-sm-12 col-xs-12 h1__service pt--40 pb--30">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="section__title text-left">
                                        <h2 class="title__line">OUR <span class="text--theme">ACTIVITIES</span></h2>
                                        <p>We work closely with our clients to accurately interpret their dreams/visions in drawings and bring them to the desired reality through construction solutions to meet their needs., so blinded by desire, that they cannot foresee the pain and trouble</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Start Single Service -->
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                    <div class="service">
                                        <div class="service__thumb">
                                            <a href="#">
                                                <img src="{% static 'images/service/1.jpg' %}" alt="service images">
                                            </a>
                                            <div class="service__hover">
                                                <div class="service__action">
                                                    <a href="">DETAILS</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="service__details">
                                            <h2><a href="#">CONSTRUCTION</a></h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Service -->
                                <!-- Start Single Service -->
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                    <div class="service">
                                        <div class="service__thumb">
                                            <a href="#">
                                                <img src="{% static 'images/service/2.jpg' %}" alt="service images">
                                            </a>
                                            <div class="service__hover">
                                                <div class="service__action">
                                                    <a href="#">DETAILS</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="service__details">
                                            <h2><a href="#">RENOVATION</a></h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Service -->
                                <!-- Start Single Service -->
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                    <div class="service">
                                        <div class="service__thumb">
                                            <a href="#">
                                                <img src="/media/web-design-gd1d5adcca_1280.jpg" alt="service images">
                                            </a>
                                            <div class="service__hover">
                                                <div class="service__action">
                                                    <a href="it/">DETAILS</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="service__details">
                                            <h2><a href="it/">IT SERVICES</a></h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Service -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Area -->
        <!-- Start Latest Project Area -->
        
        <!-- End Latest Project Area -->
        <!-- Start Counter Up Area -->

        <!-- End Counter Up Area -->
        <!-- Start Team Area -->

        <!-- End Team Area -->
        <!-- Start Testimonial Area -->
        <section class="htc__testimonial__area ptb--130" data--gray__overlay="9.5" style="background: rgba(0, 0, 0, 0) url('{% static 'images/bg/1.jpg' %}') no-repeat fixed center center / cover ;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5 col-sm-12 col-xs-12">
                        <img src="{% static 'images/about/4.png' %}" alt="images">
                    </div>
                    <div class="col-md-6 col-lg-6  col-lg-offset-1 col-sm-12 col-xs-12 smt-40">
                        <div class="reguest__quote">
                            <div class="section__title text-left">
                                <h2 class="title__line">REQUEST A <span class="text--theme">QUOTE</span></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasur</p>
                            </div>
                            <form id="contact-form" action="." method="post">
                                {% csrf_token %}
                                <div class="clint__comment__form">
                                    <div class="single__cl__form">
                                        <input name="name" type="text" placeholder="Name">
                                        <input name="email" type="email" placeholder="Email">
                                    </div>
                                    <div class="single__cl__form">
                                        <input name="phone" type="tel" placeholder="Phone">
                                        <input name="subject" type="text" placeholder="Subject">
                                    </div>
                                    <div class="single__cl__message">
                                        <textarea name="message" placeholder="Message"></textarea>
                                    </div>
                                    <div class="clint__submit__btn">
                                        <button class="submit htc__btn" type="submit">
                                            SEND MESSAGE 
                                        </button>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonial Area -->
        <!-- Start Blog Area -->
      
        <!-- End Blog Area -->
        <!-- Start Blog Area -->
        <!-- <div class="htc__brand__area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="brand__list">
                            <li><a href="#"><img src="{% static 'images/brand/1.jpg' %}" alt="brand images"></a></li>
                            <li><a href="#"><img src="{% static 'images/brand/2.jpg' %}" alt="brand images"></a></li>
                            <li><a href="#"><img src="{% static 'images/brand/3.jpg' %}" alt="brand images"></a></li>
                            <li><a href="#"><img src="{% static 'images/brand/4.jpg' %}" alt="brand images"></a></li>
                            <li><a href="#"><img src="{% static 'images/brand/5.jpg' %}" alt="brand images"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- End Blog Area -->
        <!-- End Brand Area -->
{% include 'newsletter.html' %}
<!-- Start Contact Address -->
{% include 'contact_template.html' %}
<!-- End Contact Address -->
{% endblock %}