{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="htc__service__area service__page bg__gray ptb--100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12">
                <div class="section__title text-center">
                    <h2 class="title__line">OUR <span class="text--theme">Information Technology SERVICES</span></h2>
                    <p>We are committed to providing the best possible construction expertise & service to ensure cost effective and
                        successful.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="service__section__wrap clearfix">
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="/media/app-gca7d3048e_1280.jpg" alt="service images">
                            </a>
                            
                        </div>
                        <div class="service__details">
                            <h2><a href="#">SOFTWARE DEVELOPMENT</a></h2>
                            <ul>
                                <li>Mobile & Desktop Apps</li>
                                <li>Web Applications</li>
                                <li>System Applications</li>
                                <li>Databased Applications</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="/media/rj-45-gb2842441d_1280.png" alt="service images">
                            </a>
                            
                        </div>
                        <div class="service__details">
                            <h2><a href="#">COMPUTER NETWORKING</a></h2>
                            <ul>
                                <li>Network Installations</li>
                                <li>LANS Installations</li>
                                <li>MAN Installations</li>
                                <li>WAN Installations</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="/media/cyber-g7cd4bca14_1280.jpg" alt="service images">
                            </a>
                            
                        </div>
                        <div class="service__details">
                            <h2><a href="#">CYBER SECURITY</a></h2>
                            <ul>
                                <li>Surveillance Systems(CCTV Cams)</li>
                                <li>Antivirus Software</li>
                                <li>Penetration Testing</li>
                                <li>Ethical Hacking</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="/media/social-media-g1bdd1f23e_1280.jpg" alt="service images">
                            </a>
                            
                        </div>
                        <div class="service__details">
                            <h2><a href="#">DIGITAL MARKETING</a></h2>
                            <ul>
                                <li>Social Media Marketing</li>
                                <li>SMS Marketing</li>
                                <li>Search Engine Optimization</li>
                                <li>Content Marketing</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
            </div>
            </div>
        </div>
    </div>
</section>


    <div class="container">

        <div class="row justify-content-center">
            <div class="service__section__wrap clearfix">
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="/media/money-transfer-gf179fc3d2_1280.png" alt="service images">
                            </a>
                            
                        </div>
                        <div class="service__details">
                            <h2><a href="#">API INTEGRATIONS</a></h2>
                            <ul>
                                <li>Payment Gateways API Integrations</li>
                                <li>SMS APIS Integrations</li>
                                <li>USSD Integrations</li>
                                <li>Location APIS Integrations</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="/media/online-ge8dc07fb9_1280.jpg" alt="service images">
                            </a>
                            
                        </div>
                        <div class="service__details">
                            <h2><a href="#">ICT COURSES</a></h2>
                            <ul>
                                <li>Introduction to Computer</li>
                                <li>Computer Application</li>
                                <li>Computer Programming</li>
                                <li>Digital Marketing Courses</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 hidden-sm col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="/media/chip-g0a29c8f4a_1280.png" alt="service images">
                            </a>
                            
                        </div>
                        <div class="service__details">
                            <h2><a href="#">Computer Repair</a></h2>
                            <ul>
                                <li>Laptop Repair</li>
                                <li>Desktop Repair</li>
                                <li>Laptop Maintenance</li>
                                <li>Desktop Maintenance</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 hidden-sm col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="/media/computer-gc5af7cbe3_1280.jpg" alt="service images">
                            </a>
                            
                        </div>
                        <div class="service__details">
                            <h2><a href="#">GRAPHICS DESIGN</a></h2>
                            <ul>
                                <li>Calendar Design</li>
                                <li>Logo Design</li>
                                <li>Banners Design</li>
                                <li>Business Card Designs</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
            </div>
            </div>
        </div>
    </div>

<br>

{% endblock %}


