{% load static %}

<!-- Start Newsletter Area -->
<section class="htc__newsletter__area ptb--90 bg__gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="newsletter__wrap">
                    <h2 class="title__line">SUBSCRIBE <span class="text--theme">NEWSLETTER</span></h2>
                    <h4>Subscribe our newsletter and get latest update</h4>
                    <div class="newsletter__form">
                        <div class="input__box">
                            <div id="mc_embed_signup">
                                <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    {% csrf_token %}
                                    <div id="mc_embed_signup_scroll" class="htc__news__inner">
                                        <div class="news__input">
                                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                                        </div>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                        <div class="clearfix subscribe__btn"><input type="submit" value="SUBSCRIBE NOW" name="subscribe" id="mc-embedded-subscribe" class="bst__btn btn--white__color">
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="newsletter__thumb">
        <div class="newsletter__thumb__inner">
            <img src="{% static 'images/others/1.png' %}" alt="newsletter img">
        </div>
    </div>
</section>
<!-- End Newsletter Area -->
