{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area" data--black__overlay="6" style="background: rgba(0, 0, 0, 0) url('{% static 'images/bg/5.jpg' %}') no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">SERVICES</h2>
                        <nav class="bradcaump-inner">
                          <a class="breadcrumb-item" href="{% url 'home' %}">Home</a>
                          <span class="brd-separetor">-</span>
                          <span class="breadcrumb-item active">SERVICES</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Offer Area -->
<section class="htc__offer__area ptb--150 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="offer">
                    <div class="offer__icon">
                        <img src="{% static 'images/others/icon-2/1.png' %}" alt="icon images">
                    </div>
                    <div class="offer__details">
                        <h2><a href="#">TOP RATED</a></h2>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 xmt-40">
                <div class="offer separator">
                    <div class="offer__icon">
                        <img src="{% static 'images/others/icon-2/2.png' %}" alt="icon images">
                    </div>
                    <div class="offer__details">
                        <h2><a href="#">BEST QUALITY</a></h2>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 hidden-sm col-xs-12 xmt-40">
                <div class="offer separator">
                    <div class="offer__icon">
                        <img src="{% static 'images/others/icon-2/3.png' %}" alt="icon images">
                    </div>
                    <div class="offer__details">
                        <h2><a href="#">LOW COST</a></h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Offer Area -->
<!-- Start Service Area -->
<section class="htc__service__area service__page bg__gray ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title text-center">
                    <h2 class="title__line">OUR <span class="text--theme">SERVICES</span></h2>
                    <p>We are committed to providing the best possible construction expertise & service to ensure cost effective and
                        successful.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="service__section__wrap clearfix">
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="{% static 'images/service/1.jpg' %}" alt="service images">
                            </a>
                            <div class="service__hover">
                                <div class="service__action">
                                    <a href="#">DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <div class="service__details">
                            <h2><a href="#">CONSTRUCTION</a></h2>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="/media/architecture-g92ab8ed89_1280.jpg" alt="service images">
                            </a>
                            <div class="service__hover">
                                <div class="service__action">
                                    <a href="#">We provide highway design with innovative technology</a>
                                </div>
                            </div>
                        </div>
                        <div class="service__details">
                            <h2><a href="#">HIGH WAY DESIGN</a></h2>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="/media/12.jpg" alt="service images">
                            </a>
                            <div class="service__hover">
                                <div class="service__action">
                                    <a href="#">We design bridges that best serves the Public</a>
                                </div>
                            </div>
                        </div>
                        <div class="service__details">
                            <h2><a href="#">BRIDGE DESIGNS</a></h2>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="/media/5.jpg" alt="service images">
                            </a>
                            <div class="service__hover">
                                <div class="service__action">
                                    <a href="#">We Design intelligent Transport System to Improve
                                        Safety and efficiency.</a>
                                </div>
                            </div>
                        </div>
                        <div class="service__details">
                            <h2><a href="#">ITS DESIGNS</a></h2>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="/media/5.jpg" alt="service images">
                            </a>
                            <div class="service__hover">
                                <div class="service__action">
                                    <a href="#">We survey and map areas for effective construction design and safety</a>
                                </div>
                            </div>
                        </div>
                        <div class="service__details">
                            <h2><a href="#">SURVEY AND MAPPING</a></h2>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="/media/5.jpg" alt="service images">
                            </a>
                            <div class="service__hover">
                                <div class="service__action">
                                    <a href="#">DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <div class="service__details">
                            <h2><a href="#">CONSULTING</a></h2>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 hidden-sm col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="/media/5.jpg" alt="service images">
                            </a>
                            <div class="service__hover">
                                <div class="service__action">
                                    <a href="#">DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <div class="service__details">
                            <h2><a href="#">INTERIOR DESIGN</a></h2>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-md-3 col-lg-3 hidden-sm col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a href="#">
                                <img src="/media/5.jpg" alt="service images">
                            </a>
                            <div class="service__hover">
                                <div class="service__action">
                                    <a href="#">DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <div class="service__details">
                            <h2><a href="#">PROJECT PLANNING</a></h2>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Service Area -->
<section class="htc__service__area service__page bg__gray ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title text-center">
                    <h2 class="title__line">OUR <span class="text--theme">ACTIVITIES</span></h2>
                    <p>We are committed to providing the best possible construction expertise & service to ensure cost effective and
                        successful.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 col-lg-4 col-sm-4 col-xs-12">
                <div class="service__details">
                <h2><a href="#">In Civil Works Constructing</a></h2>
                </div>
                <ol class="text-center" style="text-align: justify;">
                    <li>Construction of Roads</li>
                    <li>Bridges</li>
                    <li>Highways</li>
                    <li>Construction of Dams</li>
                    <li>Irrigation Systems</li>
                </ol>
            </div> 
            <div class="col-md-3 col-lg-4 col-sm-4 col-xs-12">
                <div class="service__details">
                <h2><a href="#">In Specialist Civil Works Contracting</a></h2>
                </div>
                <ol class="text-center" style="text-align: justify;">
                    <li>Drilling</li>
                    <li>Water Works And Sewerage</li>
                    <li>Pilling Landscaping</li>
                    <li>Road Marking</li>
                    
                </ol>
            </div>
            <div class="col-md-3 col-lg-4 col-sm-4 col-xs-12">
                <div class="service__details">
                <h2><a href="#">In Building Works Contracting</a></h2>
                </div>
                <ol class="text-center" style="text-align: justify;">
                    <li>Construction of residential</li>
                    <li>Commercial and industrial buildings</li>
                    <li>Single and multi storeyed together with associated external works.</li>
                    
                </ol>
            </div> 
            
        </div>
    </div>
</section>


<!-- Start Testimonial Area -->
<section class="htc__testimonial__area ptb--130" data--gray__overlay="9.5" style="background: rgba(0, 0, 0, 0) url('{% static 'images/bg/1.jpg' %}') no-repeat fixed center center / cover ;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5 col-sm-12 col-xs-12">
                <img src="{% static 'images/about/4.png' %}" alt="images">
            </div>
            <div class="col-md-6 col-lg-6  col-lg-offset-1 col-sm-12 col-xs-12 smt-40">
                <div class="reguest__quote">
                    <div class="section__title text-left">
                        <h2 class="title__line">REQUEST A <span class="text--theme">QUOTE</span></h2>
                        <p>We work closely with our clients to accurately interpret their dreams/visions in drawings and bring them to the desired reality through construction solutions to meet their needs.</p>
                    </div>
                    <form id="contact-form" action="." method="post">
                        {% csrf_token %}
                        <div class="clint__comment__form">
                            <div class="single__cl__form">
                                <input name="name" type="text" placeholder="Name">
                                <input name="email" type="email" placeholder="Email">
                            </div>
                            <div class="single__cl__form">
                                <input name="phone" type="tel" placeholder="Phone">
                                <input name="subject" type="text" placeholder="Subject">
                            </div>
                            <div class="single__cl__message">
                                <textarea name="message" placeholder="Message"></textarea>
                            </div>
                            <div class="clint__submit__btn">
                                <button class="submit htc__btn" type="submit">
                                    SEND MESSAGE 
                                </button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Brand Area -->
{% include 'newsletter.html' %}
<!-- Start Contact Address -->
{% include 'contact_template.html' %}
<!-- End Contact Address -->


{% endblock  %}